<td>
            画像
            </td>
            <td>
            <%= attachment_image_tag @movie, :image, size: "100x100", format: 'jpeg' %>
            </td>
          <tr></tr>
            <td>
            映画名:
            </td>
            <td>
            <%= @movie.movie_name %>
            </td>
          </tr>
          <tr>
          映画ジャンル:
            </td>
            <td>
            <%= @movie.genre %>
            </td>
          </tr><tr>
            <td>
          映画のあらすじ:
            </td>
            <td>
            <%= @movie.detail %>
            </td>
          </tr><tr>

